<h2> Account Verification</h2>
{{#if success}}
<p><strong>Congratulation!! You have successfully verified your account.</strong></p>
{{else}}
<p style="color:red;">Sorry, no account is found for the given user. <br>Please signup again or contact support at:  </p><em>petgossips@hotmail.com</em>
{{/if}}