<div class="contact-us-container container">

    {{#if success}}
    <p class="text-contact-us-container">Congratulation!! You have successfully verified your account. You are logged in.</p>
    {{else}}
    {{#if isActive}}
    <p class="text-contact-us-container">Your account is already active. You are logged in</p>
    {{else}}
    <p class="text-contact-us-container red">Sorry, no account is found for the given user. </p>
    <p class="text-contact-us-container">Please signup again or contact us below.</p>
    <p class="text-contact-us-container">We will get back to you soon.</p>

</div>
<footer class="footer message-contact-us">

    <div class="footer-background-color-logo">
        <img class="footer-logo-image" src="/images/petgossip-logo-black-transparent.png" alt="">
        <div class="footer-parallelogram">
        </div>
        <div class="footer-square">
        </div>
    </div>

    <div class="contact-page">
        <p class="text-contact-us-container">Message:</p>
        <hr>
        {{> contactPartial}}
    </div>

</footer>
{{/if}}
{{/if}}