<div class="background-log-sign-in">
    <div class="login-contianer">
        <p class="title-log-sign">LOGIN</p>
        <form action="/login" method="post">

            <label class="label-log-sign" for="username"> Username:
                <input class="input-log-sign" type="text" name="username" id="username" placeholder="enter username" required>
                {{#if errMsg}}
                <p class="err-msg">*{{errMsg}}</p>
                {{/if}}
                {{#if errUsernameMsg}}
                <p class="err-msg">*{{errUsernameMsg}}</p>
                {{/if}}
            </label>

            <label class="label-log-sign" for="pwd"> Password:
                <input class="input-log-sign" type="password" id="pwd" name="password" placeholder="********" required>
                {{#if errMsg}}
                <p class="err-msg">*{{errMsg}}</p>
                {{/if}}
                {{#if errMsgPwd}}
                <p class="err-msg">*{{errMsgPwd}}</p>
                {{/if}}
            </label>

            <button class="btn-web-description-extra-info log-sign-in-btn loading-btn" type="submit">Login</button>

            <a class="signup-a" href="/signup">Sign Up</a>
        </form>
    </div>
</div>

{{>footerPartial}}