<div class="background-log-sign-in">
    <div class="login-contianer sign-up-container">
        <p class="title-log-sign">SIGN UP</p>
        <form action="/signup" method="post">

            <label class="label-log-sign" for="username"> Username:
                <input class="input-log-sign" type="text" id="username" name="username" placeholder="username"
                    oninput="validateField('username', 'username-validation-message', /^[A-Za-z0-9_]{3,}$/, 'Enter minimum 3 characters.')"
                    onblur="hideValidationMessage('username-validation-message')" required>
                <span id="username-validation-message"></span>
                {{#if errMsg}}
                <p class="err-msg">{{errMsg}}</p>
                {{/if}}
                {{#if errUserMsg}}
                <p class="err-msg">{{errUserMsg}}</p>
                {{/if}}
            </label>
            
            <label class="label-log-sign" for="email"> Email:
                <input class="input-log-sign" type="email" name="email" id="email" placeholder="email"
                    oninput="validateField('email', 'email-validation-message', /^[^\s@]+@[^\s@]+\.[^\s@]+$/, 'Enter a valid email.')"
                    onblur="hideValidationMessage('email-validation-message')" required>
                <span id="email-validation-message"></span>
                {{#if errMsg}}
                <p class="err-msg">{{errMsg}}</p>
                {{/if}}
            </label>
            
            <label class="label-log-sign" for="pwd"> Password:
                <input class="input-log-sign" type="password" name="password" id="pwd" placeholder="********"
                    oninput="validateField('pwd', 'password-validation-message', /^.{6,}$/, 'Enter minimum 6 characters.')"
                    onblur="hideValidationMessage('password-validation-message')" required>
                <span id="password-validation-message"></span>
                {{#if errMsg}}
                <p class="err-msg">{{errMsg}}</p>
                {{/if}}
            </label>

            <button class="btn-web-description-extra-info log-sign-in-btn loading-btn" type="submit">Submit</button>
        </form>
    </div>
</div>

{{>footerPartial}}