<div class="background-log-sign-in">
    <div class="login-contianer sign-up-container">
        <p class="title-log-sign">SIGN UP</p>
        <form action="/signup" method="post">

            <label class="label-log-sign" for="username"> Username:
                <input class="input-log-sign" type="text" id="username" name="username" placeholder="username">
                {{#if errMsg}}
                <p class="err-msg">{{errMsg}}</p>
                {{/if}}
                {{#if errUserMsg}}
                <p class="err-msg">{{errUserMsg}}</p>
                {{/if}}
            </label>
            
            <label class="label-log-sign" for="email"> Email:
                <input class="input-log-sign" type="email" name="email" id="email" placeholder="email">
                {{#if errMsg}}
                <p class="err-msg">{{errMsg}}</p>
                {{/if}}
            </label>
            
            <label class="label-log-sign" for="pwd"> Password:
                <input class="input-log-sign" type="password" name="password" id="pwd" placeholder="********">
                {{#if errMsg}}
                <p class="err-msg">{{errMsg}}</p>
                {{/if}}
            </label>

            <button class="btn-web-description-extra-info log-sign-in-btn loading-btn" type="submit">Submit</button>
        </form>
    </div>
</div>

{{>footerPartial}}