<div class="contact-us-container container">
    <p class="text-contact-us-container">Please contact us below.</p>
    <p class="text-contact-us-container">We will get back to you soon.</p>
</div>

<footer class="footer message-contact-us">

    <div class="footer-background-color-logo">
        <img class="footer-logo-image" src="/images/petgossip-logo-black-transparent.png" alt="">
        <div class="footer-parallelogram">
        </div>
        <div class="footer-square">
        </div>
    </div>

    <div class="contact-page">
        <p class="text-contact-us-container">Message:</p>
        <hr>
        {{> contactPartial}}
    </div>

</footer>