
    <form method="post" action="/contact">
        <label for="userName">Name:
            <input type="text" name="userName" />
        </label>
        <br>
        <br>
        <label for="userEmail">Email*:
            <input type="email" name="userEmail" required="true" />
        </label>
        <br>
        <br>
        <div>
            <label>Your Message*</label>
            <br>
            <br>
            <textarea name="customerNote" rows="6" cols="100"
                placeholder="Please provide all the information about your issue you can."></textarea>
            <br>
            {{!-- <input hidden value="{{isContactUs}}"> --}}
            <button id="customerIssueBtn">Submit</button>

            {{#if isMsgSent}}
            <h3 style="color:green;">Message Sent!</h3>
            {{/if}}
        </div>
    </form>
