<form method="post" action="/contact">
    <label for="userName">Name:</label>
    <input type="text" name="userName" />
    <br>
    <br>
    <label for="userEmail">Email*:</label>
    <input type="email" name="userEmail" required="true" />
    <br>
    <br>
    <label>Your Message*</label>
    <br>
    <br>
    <textarea name="customerNote" rows="6" cols="100"
        placeholder="Please provide all the information about your issue you can."></textarea>
    <br>
    <input hidden value="{{isConfirmPage}}">
    <button id="customerIssueBtn">Submit</button>
    {{#if isMsgSent}}
    <h3 style="color:green;">Message Sent!</h3>
    {{/if}}
</form>