<footer class="footer pet-profilet-footer">

    <div class="footer-background-color-logo pet-profilet-footer">
        <img class="footer-logo-image" src="/images/petgossip-logo-black-transparent.png" alt="Logo">
        <div class="footer-parallelogram">
        </div>
        <div class="footer-square">
        </div>
    </div>

     <div class="footer-text pet-footer-text pet-profilet-footer"> 
        <p>I'f you have any complains please do not hasitate to contact us and leave us a message here:</p>
        <div class="btn-div-contact-us">
            <a href="/contact"><button class="loading-btn btn-web-description-extra-info">Contact Us</button></a>
        </div>
    </div>

</footer>

