<h1>create pet profile</h1>

<form action="/create-pet/{{userId}}" method="POST">

    <label for="img">Img:
        <input type="text" name="img" id="img" placeholder="URL">
    </label>
    <br>
    <br>
    <label for="name">Name:
        <input type="text" name="name" id="name">
    </label>
    <br>
    <br>
    <label for="description"> Description:
        <br>
        <textarea name="description" id="description" cols="50" rows="5" placeholder="description..."></textarea>
    </label>
    <button type="submit">Create</button>
</form>