<h1>pet profile</h1>

<p>img</p>
<img src="{{petInfo.img}}" alt="image of the pet" style="height: 200px">

<p>Pet's name: {{petInfo.name}}</p>

<p>Description: {{petInfo.description.text}}</p>

<p>votes: {{petInfo.votes}}</p>
