<h2> Account Verification</h2>
{{#if success}}
<p><strong>Congratulation!! You have successfully verified your account.</strong></p>
{{else}}
<p style="color:red;">Sorry, account verification has failed. <br>Please try again or contact support at - petgossips@hotmail.com</p>
{{/if}}