
<div class="web-title-phrase">
    <div class="text-web-title-phrase">
        <h1 class="title">PetGossip</h1>
        <p class="phrase">Whether it's a question about their health, behavior, or simply showcasing their cuteness, Gossip Pets is the go-to platform.</p>
    </div>
</div>

<div class="web-description">
    <div class="img-web-description">
        
    </div>
    <div class="description-info">
        <div class="description-info-text">
            <h2>WHAT IS PET GOSSIP?</h2>
            <p>Welcome to Gossip Pets, the online hub where your furry, feathery, or scaly friends take the spotlight! 
                Here, it's all about your pet - their quirks, health concerns, and the adorable chaos they bring into your life. 
                <br>
                <br>
                Create personalized profiles for your beloved companions and connect with a passionate pet community. Share your experiences, seek advice, and celebrate the uniqueness of your pet pals. 
                <br>
                <br>
                Whether it's a question about their health, behavior, or simply showcasing their cuteness, Gossip Pets is the go-to platform.
            </p>
        </div>
        <div class="web-description-extra-info">
            <a href="/info"><button class="btn-web-description-extra-info">Learn more about our community</button></a>
        </div>
    </div>
</div>
<br><br>
<div class="profilesPet">
    <div class="profilesPet-container profilesPet-view-all">
        <a href="/view-all-pets">
            <div class="profilesPet-img view-all-shape">
                <p class="view-all-shape-text">View All Pets</p>
            </div>
        </a>
    </div>
    {{#each foundPets}}
        <div class="profilesPet-container">
            <img class="profilesPet-img" src="{{img}}" alt="Pet's img">
            <p class="profilesPet-name">{{name}}</p>
        </div>
    {{/each}}
</div>
<br><br>

<div class="white-horizontal-img">

</div>

<div class="singup-login-profile-logout-btn-container">
    {{#if inSession}}
        <a href="/profile/{{_id}}">
            <button class="btn-container btn-web-description-extra-info"><p>Profile</p></button>
        </a>

        <a href="/logout">
            <button class="btn-container btn-web-description-extra-info"><p>Logout</p></button>
        </a>
    {{else}}
        <a href="/login">
            <button class="btn-container btn-web-description-extra-info"><p>Login</p></button>
        </a>

        <a href="/signup">
            <button class="btn-container btn-web-description-extra-info"><p>Sing Up</p></button>
        </a>   
    {{/if}}
</div>

<footer class="footer">

    <div class="footer-background-color-logo">
        <img class="footer-logo-image" src="/images/petgossip-logo-black-transparent.png" alt="">
        <div class="footer-parallelogram">
        </div>
        <div class="footer-square">
        </div>
    </div>

    <div class="footer-text">
         <ul class="Websites-list footer-text-ul">
            <li class="first-li-child-footer-text">Resorces made this project possible</li>
            <li><a href="https://www.google.com/">Google</a></li>
            <li><a href="https://cloudinary.com/documentation" target="_blank">Cloudinary.com</a></li>
            <li><a href="https://stock.adobe.com/" target="_blank">Stock Adobe</a></li>
            <li><a href="https://www.freepik.com/" target="_blank">Freepik.com</a></li>
            <li><a href="https://www.shutterstock.com/" target="_blank">Shutterstock.com</a></li>
            <li><a href="www.colormatters.com" target="_blank">Colormatters.com</a></li>
            <li><a href="https://github.com/" target="_blank">Git Hub</a></li>
            <li><a href="https://www.pngwing.com/" target="_blank">Pngwing.com</a></li>
        </ul>
        
        <ul class="social-media footer-text-ul">
            <li class="first-li-child-footer-text">Follow Us:</li>
            <li><img src="/images/facebook.png" alt="">Facebook</li>
            <li><img src="/images/instagram.png" alt="">Instagram</li>
            <li><img src="/images/Twitter.png" alt="">Twiter</li>
            <li><img src="/images/linkedIn.png" alt="">Linkedin</li> 
        </ul>

        {{!-- <ul class="about-us footer-text-ul">
            <li class="first-li-child-footer-text">Location</li>
            <li> google map here </li>
            <li>
                <div id="map">
                    <iframe src="https://maps.app.goo.gl/cmSvxBiwf1VH8y7FA" height="150px" width="150px"></iframe>
                </div>
            </li>
        </ul> --}}

        <ul class="contacts footer-text-ul">
            <li class="first-li-child-footer-text">
                Contact Us:
            </li>
            <li>             
                <div class="btn-div-contact-us">
                    <a href="/contact"><button class="home-contact-btn btn-web-description-extra-info">Contact Us</button></a>
                </div>
            </li>
        </ul>
    </div>

</footer>

<div class="black-footer">
    <p>Created by: Vijay &amp; Ivan</p>
</div>