/* comfirm msgs */

.comfirm-msg {
    height:10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red {
    color: rgb(128, 0, 0)!important;;    
}
/* contact msg */

.contact-us-container {
    height: 15rem!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-contact-us-container {
    color: black;
    font-size: 2.5rem;
    text-align: center;
}

.message-contact-us {
    height: 28rem!important;
}

.contact-page {
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 20;
    height: 21rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* errorMsg-same-name-pet */

.errorMsg-same-name-pet {
    color: brown ;
    margin-left: 1rem;
}


/* loading icon  */

/* body {
    position: relative;
} */

.loading-icon {
    display: none;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border: 5px solid #ccc; /* Customize border style */
    border-top: 5px solid #dba634; /* Customize border color */
    border-radius: 50%; /* Makes it round */
    animation: spin 1s linear infinite; /* Animation effect */
    position: fixed; /* Position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    margin-top: -25px; /* Half of the height to center vertically */
    margin-left: -25px;
    background-color: #8572727e;
    backdrop-filter: blur(5px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-icon-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #8572727e;
    backdrop-filter: blur(5px);

    z-index: 100;
}