.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  background-color: tan;
}

.nav-bar-list {
  display: flex;
}

.nav-bar-list-items {
  margin: 0.5rem 0.5rem;
  list-style: none;
}

.nav-bar-list-items a {
  text-decoration: none;
  color: black;
}

.nav-bar-list-items a:hover {
  color: rgba(0, 0, 0, 0.638);
  cursor: pointer;
}
