.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2b48c;
  height: 5rem;
}

.nav-bar-list {
  display: flex;
  margin-right: 3rem;
}

.nav-bar-list-items {
  margin: 1rem 1rem;
  list-style: none;
}

.nav-bar-list-items a {
  text-decoration: none;
  color: black;
}

.nav-bar-list-items a:hover {
  color: rgba(0, 0, 0, 0.638);
  cursor: pointer;
}

.parallelogram {
  position: absolute;
  background-color: rgb(237, 253, 240);
  height: 5rem;
  width: 11.3rem;
  transform: skew(-25deg);
  z-index: 1;
}

.logo {
  background-color: rgb(237, 253, 240);
  height: 5rem;
  width: 10rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo-img {
  height: 4.5rem;
  margin-left: 3rem;
  z-index: 10;
}

/* web-title-phrase */

.web-title-phrase {
  /* background-image: url(../images/isolated-on-blue-background.jpeg); */
  background-image: url(https://res.cloudinary.com/dtsbyexgk/image/upload/f_auto,q_auto/v1/petgossips-static/sgvxksm7djkgqfau3myu);
  background-position: top;
  background-position-x: center;
  background-repeat: none;
  height: 24rem;
}

.text-web-title-phrase {
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 8rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.phrase {
  text-align: center;
}

/* web-description */

.web-description {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(#d2b48c, #ffffff);
  height: 35rem;
}

.img-web-description {
  background-image: url(../images/petgossip-end-logo-transparent.png);
  background-repeat: no-repeat;
  background-size: 20rem 20rem;
  background-position: center center;
  height: 30rem;
  width: 50vw;
}

.description-info {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 6rem;
  text-align: center;
}

/* .description-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .description-info-text p {
  text-align: center;
} */

.description-info-text h2 {
  margin-bottom: 4rem ;
  font-size: xx-large;
}

.web-description-extra-info {
  margin-top: 5rem;
}

.btn-web-description-extra-info {
  height: 3rem;
  width: 20rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(56, 100, 100);
  color: white;
}

.btn-web-description-extra-info:hover {
  background-color: rgb(62, 111, 111);
  border-right: 0.15rem solid rgb(82, 144, 144);
  border-bottom: 0.15rem solid rgb(82, 144, 144);
  cursor: pointer;
}

.btn-web-description-extra-info:active {
  background-color: rgb(47, 80, 80);
  border-left: 0.15rem solid rgb(82, 144, 144);
  border-top: 0.15rem solid rgb(82, 144, 144);
  border-right: none;
  border-bottom: none;
}

/* profilesPet */

.profilesPet {
  overflow-y: scroll;
  display: flex;
}

.profilesPet-container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilesPet-img  {
  height: 8rem;
  width: 8rem;
  margin:0 1rem;
  border-radius: 4rem;
}

/* round View All Pets btn */

.profilesPet-view-all a {
  text-decoration: none;
  color: black;
}

.view-all-shape {
  background-color: #d2b48c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all-shape:hover {
  background-color: #d2b48cc1;
  cursor: pointer;
}

.view-all-shape:active {
  background-color: #d2b48c;
}

/* .view-all-shape-text {
  text-align: center;
} */

/* white-horizontal-img */

.white-horizontal-img {
  height: 30rem;
  background-image: url(../images/white-horizontal-website-banner.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* singup-login-profile-logout-btn-container */

.singup-login-profile-logout-btn-container {
  /* height: 7rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.singup-login-profile-logout-btn-container a {
  text-decoration: none;
}

.btn-container {
  margin: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container p {
  font-weight: 150;
  font-size: large;
}

/* footer */

.footer-background-color-logo {
  z-index: 5;
}

.footer{
  position: relative;
  overflow: hidden;
  height: 23rem;
  background-color: #c5a57c;
}

.footer-logo-image {
  position: absolute;
  height: 30rem;
  z-index: 10;
  left: -4rem;
  bottom: -6rem;
  opacity: 0.05;
}

.footer-parallelogram {
  position: absolute;
  background-color: #d2b48c;
  /* background-color: rgb(237, 253, 240); */
  height: 30rem;
  width: 45vw;
  transform: skew(25deg);
}

.footer-square {
  background-color: #d2b48c;
  /* background-color: rgb(237, 253, 240); */
  height: 30rem;
  width: 10rem;
  z-index: 1;
}

.footer-text {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 20;
  height: 18rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-text-ul {
  list-style: none;
}

.footer-text-ul li {
  margin-top: 0.8rem;

}

.footer-text-ul a {
  text-decoration: none;
  color: black;
}

.footer-text-ul a:hover {
  cursor: pointer;
}

.first-li-child-footer-text {
  margin-bottom: 1.5rem;
  font-size: larger;
}

.social-media li {
  display: flex;
  align-items: center;
}

.social-media img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* black-footer */

.black-footer {
  background-color: black;
  height: 2.5rem;
  display: flex;
  align-items: center;
}
.black-footer p {
  color: #ffffff;
  font-weight: 100;
  font-size: 0.6rem;
  margin-left: 1rem;
}
